<h2>Welcome <%= @user.email %></h2>

<p>
  Hi <%= @user.email%> we are extremely pleased to have you on-board! You help
  us achieve the world domination we seek!
</p>

<p>
  Please click this ad to help us make some money! <%= users_path %>
</p>
